<!--<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>-->

<!-- FOOTER -->
<footer class="section bg-gray footer footer-sm">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <a class="navbar-brand logo" href="index.html">
            <i class="zmdi zmdi-navigation"></i> <span class="text-uppercase">UBC ROCKET</span>
          </a>

          <ul class="list-inline social-circle">
            <li><a href=""> <i class="zmdi zmdi-facebook"></i> </a></li>
            <li><a href=""> <i class="zmdi zmdi-twitter"></i> </a></li>
            <!--<li><a href=""> <i class="zmdi zmdi-google-plus"></i> </a></li>
            <li><a href=""> <i class="zmdi zmdi-apple"></i> </a></li>
            <li><a href=""> <i class="zmdi zmdi-instagram"></i> </a></li>-->
          </ul>

          <!--<ul class="list-inline menu-list m-t-30">
            <li><a href=""> About Us</a></li>
            <li><a href=""> Help & Support</a></li>
            <li><a href=""> Terms & Conditions</a></li>
            <li><a href=""> Privacy Policy</a></li>
          </ul>-->

          <!--<p class="text-muted m-b-0"> © UBC Rocket 2016</p>-->

        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
</footer>

<!-- END FOOTER -->


<!-- Back to top -->
<a href="#" class="back-to-top"> <i class="zmdi zmdi-chevron-up"> </i> </a>
